{% extends 'base.html.twig' %}

{% block title %}Hello CostsChartController!{% endblock %}

{% block body %}
    <div class="js-wrapper">
        <button class="js-generate-random-stuff">Generate random stuff</button>
        <a href="{{ path('admin') }}" target="_blank">See report in detail</a>
        <canvas class="js-chart"></canvas>
    </div>

    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script>
        $(document).ready(function () {
            var $wrapper = $('.js-wrapper');
            var app = new App($wrapper);
        });
    </script>
{% endblock %}
